<div>
    <div class="title">
        <!-- <span>My Portfolio</span> -->
    </div>
    
    
    

    <div class="waviy">
        
        <div class="center">
            
            <!-- <section>
            <button (click)="scrollToId('personal')">Scroll to Element by Id</button>
            </section> -->
            <router-outlet></router-outlet>
            <span style="--i:2">M</span>
            <span style="--i:3">Y</span>
            <span style="--i:4">_</span>
            <span style="--i:5">P</span>
            <span style="--i:6">O</span>
            <span style="--i:7">R</span>
            <span style="--i:8">T</span>
            <span style="--i:9">F</span>
            <span style="--i:10">O</span>
            <span style="--i:11">L</span>
            <span style="--i:12">I</span>
            <span style="--i:13">O</span>
            <span style="--i:14">.</span>
        </div>

        <main class="container2">
            <p>Hello 👋 I'm</p>
            <section class="animation">
                <div class="first"><div>Rafael Vilela</div></div>
                <div class="second"><div>Web Developer</div></div>
                <div class="third"><div>Systems Engineer</div></div>
            </section>
            
        </main>
        <img class="circular_image" alt="avatar2" src="https://pps.whatsapp.net/v/t61.24694-24/297733432_1084504905814574_6111143251645672751_n.jpg?ccb=11-4&oh=01_AdQGP6UU88vNI16lJmoU_BNfRsZ5kbgnEQYcdINKLp3esA&oe=63E00AD2" width="150" height="150" />

    </div>
    
    <div>
        
        
    </div>
</div>
