<div>
    <div class="title">
        <!-- <span>My Portfolio</span> -->
    </div>
    
    
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a (click)="scrollToId('personal')">Sobre</a>
        <a (click)="scrollToId('skills')">Skills</a>
        <a (click)="scrollToId('projects')">Projetos</a>
        <a (click)="scrollToId('contato')">Contato</a>
    </div>

    <div class="waviy">
        
        <div class="center">
            
            <!-- <section>
            <button (click)="scrollToId('personal')">Scroll to Element by Id</button>
            </section> -->
            <router-outlet></router-outlet>
            <span style="--i:2">M</span>
            <span style="--i:3">Y</span>
            <span style="--i:4">_</span>
            <span style="--i:5">P</span>
            <span style="--i:6">O</span>
            <span style="--i:7">R</span>
            <span style="--i:8">T</span>
            <span style="--i:9">F</span>
            <span style="--i:10">O</span>
            <span style="--i:11">L</span>
            <span style="--i:12">I</span>
            <span style="--i:13">O</span>
            <span style="--i:14">.</span>
        </div>
        
        <main class="container2">
            <p>Hello 👋 I'm</p>
            <section class="animation">
                <div class="first"><div>Rafael Vilela</div></div>
                <div class="second"><div>Web Developer</div></div>
                <div class="third"><div>Systems Engineer</div></div>
            </section>
        </main>
        


    </div>
    
    <!-- <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/Sundar-Pichar-Profile-Square.png" alt="">
    </div> -->
</div>
