
<div class="container" id="contato">
    <h1>Contato</h1>

    <ul class="social-media">
        <a href="mailto:rafavilelaf55@gmail.com" style="text-decoration:none" >
            <li><i class='bx bxl-gmail'></i></li>
        </a>
        <a href="https://twitter.com/FaelHD" style="text-decoration:none" >
            <li><i class='bx bxl-twitter'></i></li> 
        </a>
        <a href="https://instagram.com/fael_vilela" style="text-decoration:none" >
            <li><i class='bx bxl-instagram'></i></li> 
        </a>    
    </ul>

    <ul class="contact-info">
        <li>Celular: (31)98929-3584</li>
        <li>rafavilelaf55@gmail.com</li>
    </ul>
</div>
